{% load static %}

{% static "images" as image %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="text-center">Movies</h2>
</div>


<div class="row">
      {% for movie in movies %}

  <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">

    <div class="container">
      <div class="card">
        <img class="card-img-top" src="{{movie.img.url}}" alt="Card image" height="200px">
        <div class="card-body">
          <h4 class="card-title"> {{ movie.title }} </h4>
          <p class="card-text">{{ movie.cast }}</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>

  </div>
</div>
{% endfor %}


</div>

</body>
</html>
